# Swift / SwiftPM
.build/
.swiftpm/
Package.resolved
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/

# Xcode
DerivedData/
build/
*.xcuserstate
*.xcscmblueprint
*.moved-aside

# macOS
.DS_Store

# Misc
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
